In [4]:
import pandas as pd

In [5]:
pd.read_excel("questions.xlsx")

  Questions  Answers
0        q1        1
1        q2        2
2        q3        3
3        q4        4
4        q5        5
5        q6        6

In [6]:
df = pd.read_csv("questions.csv")
df.loc[0, "Questions"] = "q^1"

In [7]:
df.to_csv("questions.csv", index=False)